@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --color-main: crimson;
  --bg-color-navbar: black;
  --color-title: darkslategray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.max-width {
  width: 100%;
  padding: 1vw;
  margin: 0 auto;
}

.cus-width {
  width: 90vw;
  margin: 0 auto;
  padding: 1vw;
}

.title-1 {
  font-size: 1.5em;
}

.title-2 {
  font-size: 2em;
}

.title-3 {
  font-size: 4em;
}

/* ----------------------------------------------- */

.hvd__navbar {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 70px;
  padding: 10px 5vw;
  font-family: "Ubuntu", sans-serif;
  z-index: 9999;
  transition: all 0.4s ease;
}

.hvd__navbar.sticky {
  background-color: var(--color-main);
}

/* .hvd__navbar.sticky a:hover{
  color: darkslategray;
} */

.hvd__navbar.sticky .cus-width {
  justify-content: space-between;
}

.hvd__navbar.sticky .menu li a:hover {
  color: darkslategray;
}

.hvd__navbar .cus-width {
  display: flex;
  transition: all 0.4s ease;
}

.hvd__navbar .logo {
  display: flex;
  font-size: 2em;
  font-weight: 500;
  color: white;
  pointer-events: none;
  margin-right: 40px;
}

.hvd__navbar .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hvd__navbar .menu li {
  margin: 0 5px;
}

.hvd__navbar .menu li a {
  font-size: 1.2em;
  color: white;
  padding: 5px 20px;
  transition: all 0.3s ease;
}

.hvd__navbar .menu li a:hover {
  color: var(--color-main);
}

.hvd__navbar .menu-btn {
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

.hvd__navbar .menu-btn:hover {
  transform: scale(1.3);
}

/* Style width < 1000px */

@media (max-width: 1000px) {
  .hvd__navbar .menu {
    display: inline-block;
    position: absolute;
    top: 90px;
    right: 2vw;
    border-radius: 10px;
    background: var(--color-main);
    z-index: 999;
  }

  .hvd__navbar .menu li {
    margin: 5px;
    display: none;
  }

  .hvd__navbar .menu.active li {
    display: block;
  }

  .hvd__navbar .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hvd__navbar .menu li a:hover {
    color: var(--color-title);
    transform: scale(1.1);
  }

  .hvd__navbar .menu-btn {
    display: block;
  }
  .hvd__navbar .cus-width {
    justify-content: space-between;
  }
}

/* Section Home */

.hvd__home {
  height: 100vh;
  min-height: 500px;
  background: url("/images/bg-home.png") no-repeat center;
  font-family: "Ubuntu", sans-serif;
}

.hvd__home .cus-width {
  position: relative;
  height: 100vh;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: white;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}
