@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-main: crimson;
  --bg-color-navbar: black;
  --color-title: darkslategray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  object-fit: cover;
  height: 100%;
}

video {
  width: 100%;
  height: auto;
}

p {
  padding-bottom: 17px;
  text-align: justify;
  transition: all .3s ease;
}

.max-width {
  width: 100%;
}

.cus-width {
  width: 90vw;
  margin: 0 auto;
}

.fullscreen {
  width: 100%;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; */
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* --------------------- Navbar ---------------------- */

.hvd__navbar {
  position: fixed;
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 10px 5vw;
  font-family: "Ubuntu", sans-serif;
  z-index: 9999;
  transition: all 0.4s ease;
}

.hvd__navbar.sticky {
  background-color: var(--color-main);
}

.hvd__navbar.sticky .cus-width {
  justify-content: space-between;
}

.hvd__navbar.sticky .menu li a:hover {
  color: darkslategray;
}

.hvd__navbar .cus-width {
  display: flex;
  transition: all 0.4s ease;
}

.hvd__navbar .logo {
  display: flex;
  font-size: 2em;
  font-weight: 500;
  color: white;
  pointer-events: none;
  margin-right: 40px;
}

.hvd__navbar .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hvd__navbar .menu li {
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hvd__navbar .menu li a {
  font-size: 1.2em;
  color: white;
  padding: 5px 20px;
  transition: all 0.3s ease;
}

.hvd__navbar .menu li a:hover {
  color: var(--color-main);
}

/* Không Sticky */
.hvd__navbar .menu li.active a {
  color: var(--color-main);
}

/* Có sticky */
.hvd__navbar.sticky .menu li.active a {
  color: var(--color-main);
}

.hvd__navbar.sticky .menu li.active a {
  color: darkslategray;
}

.hvd__navbar .menu-btn {
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

.hvd__navbar .menu-btn.active i:before {
  content: "\f00d";
}

.hvd__navbar .menu-btn:hover {
  transform: scale(1.3);
}

@media (max-width: 1000px) {
  .hvd__navbar .menu {
    display: inline-block;
    position: absolute;
    top: 90px;
    right: 2vw;
    border-radius: 10px;
    background: var(--color-main);
    z-index: 999;
  }

  .hvd__navbar .menu li {
    margin: 5px;
    display: none;
  }

  .hvd__navbar .menu.active li {
    display: block;
  }

  .hvd__navbar .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hvd__navbar .menu li a:hover {
    color: var(--color-title);
    transform: scale(1.1);
  }

  .hvd__navbar .menu li.active a{
    color: darkslategray;
  }

  .hvd__navbar .menu-btn {
    display: block;
  }

  .hvd__navbar .cus-width {
    justify-content: space-between;
  }
}

/* --------------------- Home ---------------------- */

section {
  position: relative;
  padding: 70px 0;
}

section p {
  pointer-events: none;
}

/* section .cus-width {
  height: 100%;
} */

.hvd__home {
  height: 100vh;
  min-height: 500px;
  background: url("../images/bg-home.png") no-repeat center;
  font-family: "Ubuntu", sans-serif;
}

.hvd__home .cus-width {
  display: flex;
  justify-content: start;
  align-items: center;
  transform: translateY(100%);
}

.home-content {
  color: white;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}

.home-content .text-1 {
  font-size: 25px;
}

.home-content .text-2 {
  font-size: 80px;
}

.home-content .text-3 {
  font-size: 50px;
}

.home-content .text-1,
.home-content .text-2,
.home-content .text-3 {
  transition: font-size .3s ease;
}

@media (max-width: 1000px) {
  .home-content .text-1 {
    font-size: 20px;
  }

  .home-content .text-2 {
    font-size: 70px;
  }

  .home-content .text-3 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .home-content .text-1 {
    font-size: 20px;
  }

  .home-content .text-2 {
    font-size: 60px;
  }

  .home-content .text-3 {
    font-size: 40px;
  }
}

/* --------------------- About ---------------------- */

.title-homepage {
  font-size: 30px;
  color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vw;
  white-space: nowrap;
  pointer-events: none;
}

.title-homepage::before,
.title-homepage::after {
  content: "";
  width: 20vw;
  height: 5px;
  display: block;
  background: var(--color-main);
}

/* for title-homepage */
@media (max-width: 500px) {
  .title-homepage {
    margin: 3vw;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.about-content .avatar {
  height: 400px;
  transition: all .3s ease;
}

.avatar img {
  border-radius: 5px;
}

.about-content .text {
  font-size: 1.5vw;
  margin-left: 20px;
}

/* for About-content */
@media (max-width: 1000px) {
  .about-content .text {
    font-size: 100%;
  }
}

/* for About-content */
@media (max-width: 1000px) {
  .about-content {
    display: grid;
  }

  .about-content .avatar {
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .about-content .text {
    margin-top: 20px;
    margin-left: 0;
  }

}

/* for About-content */
@media (max-width: 500px) {

  .about-content .avatar {
    height: 65vw;
  }

  .about-content .text {
    margin-left: 0;
  }
}

.about-content .btn {
  margin-top: 50px;
  padding: 0.7vw 2vw;
  border-radius: 10px;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
  transition: all .3s ease;
}

.hvd__about .btn:hover {
  background-color: brown;
}

@media (max-width: 500px) {
  .hvd__about .btn {
    padding: 5px 20px;
    font-size: 3.5vw;
  }
}

/* Section Education */